@model Kirkendrup.Models.FrontPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    <div class="frontpage">
        <div class="frontpage-image">

            @if(Model.Image != null)
            {
                <img src="@Model.Image.Url" width="980" height="280" alt="@Model.Image.Name" />
            }
            else
            {
                <img src="http://placehold.it/960x280" />
            }
        </div>
        <div class="frontpage-content">
            <h1>@Model.Header</h1>
            @Model.BodyText
        </div>
        <div class="featured-news">

            @foreach (var featuredNews in Model.FeaturedNews.Take(2))
            {
                <div class="news-col">
                    <div class="date">
                        <div class="date-text">
                            <div class="month">@featuredNews.Date.ToString("dd.MMM.")</div>
                            <div class="year">@featuredNews.Date.ToString("yyyy")</div>
                        </div>
                    </div>
                    <div class="content">
                        <h3>@featuredNews.Header</h3>
                        @featuredNews.BodyText
                    </div>
                </div>
            }

            

            
        </div>
    </div>
}